extends base.pug
include mixin/video

block content
    form(method="GET")
        input(placeholder="Search by title", name="keyword", text="text")
        input(type="submit", value="Search Now")

    each video in videos
        +video(video)